.list
{
  margin:0;
  padding:0;
  list-style:none;
  text-decoration:none;
}
.sidebar
{
margin-top:40px;
  position:fixed;
  left:0;
  width:220px;
  height:100%;
  background:#042331;
  transition:all .5s ease;
}
.sidebar1 header
{
  position:fixed;
  font-size:21px;
  color:white;
  line-height:40px;
  background:#042331;
  user-select:none;
  width:100%;
  z-index:10000;
}
.sidebar ul a{
  display:block;
  height:100%;
  width:100%;
  line-height:45px;
  font-size:15px;
  color:white;
  padding-left:10px;
  box-sizing:border-box;
  border-top:1px solid rgba(255,255,255,.1);
  border-bottom:1px solid black;
  transition:.4s;
  text-decoration:none;
}
ul li:hover a{
  padding-left:35px;
}
.sidebar ul a span{
  margin-right:6px;
}
.hamburger
{
  font-size:25px;
  float:left;
  padding:5px;
}
.hamburger:hover sidebar
{
  font-size:30px;
  float:left;
  padding:10px;
  height:10%;
  width:20px;
}
.sidebar2
{
width:60px;
}
.sidebar2 ul a span{
    font-size:30px;
  }
.sidebar2 ul li:hover a{
    padding-left:22px;
  }